{% extends 'base.html.twig' %}

{% block title %}Hello GestionVillesLieuxController!{% endblock %}

{% block body %}
    {% include('partials/lieux.html.twig') %}
    <button class="btn-outline-dark align-self-baseline"> <a href="{{ path('sortie_create') }}"> Créer une sortie </a> </button>
{% endblock %}
