{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <button class="btn-outline-dark"> <a href="{{ path('gestion_campus') }}"> Gestion des campus </a> </button> <br>
    <button class="btn-outline-dark"> <a href="{{ path('gestion_villes') }}"> Gestion des villes </a> </button> <br>
    <button class="btn-outline-dark"> <a href="{{ path('addParticipant') }}">Ajouter un Participant</a> </button>
{% endblock %}
