h1
{
  margin-bottom: 20px;
}
.body_admin
{
  background-color: darkred;
  border: white solid 3px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 11px #aaa;
  width: 600px;
}