@import "~bootstrap/scss/bootstrap";

body {
    //background: linear-gradient(white, #3f87a6, black);
    background: linear-gradient(to right, rgb(26, 42, 108), rgb(178, 31, 31), rgb(253, 187, 45));
    background-repeat: no-repeat;

}

nav {
    font-size: 25px;
}

