.form_partic {
  background-color: darkred;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  box-shadow: 2px 2px 11px #aaa;
  border: solid white 3.5px;
  margin-top: 10px;
  margin-bottom: 30px;
}