#filtre_choices{
  display: flex;
  flex-direction: column;
}

#list-table {
  height: 40% !important;
  overflow-y: auto !important;
  display:inline-block;
}

#filtre_submit{
  margin-top: 50px;
  width: 200px;
  height: 100px;
}

#filtre_dateFin{
  margin-left: 10px;
}
#filtre_dateDeb{
  margin-left: 10px;
}


