{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}

    <h1>Modifier mon profil</h1>

<div >
    {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit"  class="btn-block"><strong> Enregistrer les modifications</strong></button>
    {{ form_end(form) }}

</div>
<div >
    <a href="{{ path('user_index') }}">Revenir</a>
</div>


{% endblock %}
