{% extends 'base.html.twig' %}

{% block title %}Compte desactiver{% endblock %}

{% block body %}

    <p>
        Votre compte a ete desactiver!
        Veuillez contacter votre administrateur!
    </p>

{% endblock %}