{% extends 'base.html.twig' %}

{% block title %}Compte désactivé{% endblock %}

{% block body %}
<container class="d-flex justify-content-center align-items-end mt-5">
        <div class="mt-5">
                <h3 class="font-weight-bold font">        Votre compte a ete désactivé !

                </h3>
                <br>
                <h3 class="font-weight-bold">
                        Veuillez contacter votre administrateur !
                </h3>
        </div>
</container>



{% endblock %}